@model Bipa.Models.ReferralList

@{
    ViewBag.Title = "EditForReferral";
}

<h2>EditForReferral</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ReferralList</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RecordID)

        <div class="form-group">
            @Html.LabelFor(model => model.APP_NO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APP_NO)
                @Html.ValidationMessageFor(model => model.APP_NO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TRAIN_S_N, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TRAIN_S_N)
                @Html.ValidationMessageFor(model => model.TRAIN_S_N)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodeID)
                @Html.ValidationMessageFor(model => model.CodeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepDay)
                @Html.ValidationMessageFor(model => model.DepDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CaseDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CaseDesc)
                @Html.ValidationMessageFor(model => model.CaseDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
