@model Bipa.EditModels.AppTrainInfo

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_10_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_10_DAYS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_10_DAYS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_10_DAYS_OTHER, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_10_DAYS_OTHER, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_10_DAYS_OTHER, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_SATIPATHAN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_SATIPATHAN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_SATIPATHAN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_SPECIAL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_SPECIAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_SPECIAL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_20_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_20_DAYS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_20_DAYS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_30_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_30_DAYS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_30_DAYS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_45_60_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_45_60_DAYS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_45_60_DAYS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_TEACH_SELF, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_TEACH_SELF, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_TEACH_SELF, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_ONEDAY_TRAIN_CLASS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_ONEDAY_TRAIN_CLASS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_ONEDAY_TRAIN_CLASS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_ONDAY_TRAIN_SERV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_ONDAY_TRAIN_SERV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_ONDAY_TRAIN_SERV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NO_OF_EXERCISE_IN_A_DAY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NO_OF_EXERCISE_IN_A_DAY, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NO_OF_EXERCISE_IN_A_DAY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ANY_OTHER_TRAIN_CLASS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ANY_OTHER_TRAIN_CLASS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ANY_OTHER_TRAIN_CLASS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ANY_OTHER_TRAIN_SERV, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ANY_OTHER_TRAIN_SERV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ANY_OTHER_TRAIN_SERV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TRAIN_AFTER_SATYA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.TRAIN_AFTER_SATYA)
                @Html.ValidationMessageFor(model => model.TRAIN_AFTER_SATYA, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TRAIN_AFTER_SATYA_DETAIL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TRAIN_AFTER_SATYA_DETAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TRAIN_AFTER_SATYA_DETAIL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CONTINUE_AFTER_LAST_TRAIN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.CONTINUE_AFTER_LAST_TRAIN)
                @Html.ValidationMessageFor(model => model.CONTINUE_AFTER_LAST_TRAIN, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

</div>